@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

@media screen and (max-width: 1366px) {
    html, body {
        overflow: hidden;
    }


    body {
        cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Volleyball_Pointer.png), pointer;
        background-image: url('fundo_v2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        user-select: none;
        position: relative;
    }

    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        padding: 10px;
        font-family: 'Changa One', cursive, Verdana, Arial, Helvetica, sans-serif;
        font-size: 45px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 3px 3px 5px black;
        text-align: center;
        letter-spacing: 2px;
    }

    .timer li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        font-family: 'Changa One', cursive, Verdana, Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 3px 3px 5px black;
        text-align: center;
        letter-spacing: 2px;
    }

}

@supports (display: flex) {
    @media screen and (min-width: 1367px) {
        html, body {
            overflow: hidden;
        }

        body {
            cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Volleyball_Pointer.png), pointer;
            background-image: url('fundo_v2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            user-select: none;
            position: relative;
        }

        .content {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content h1 {
            padding: 10px;
            font-family: 'Changa One', cursive, Verdana, Arial, Helvetica, sans-serif;
            font-size: 45px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 3px 3px 5px black;
            text-align: center;
            letter-spacing: 2px;
        }

        .timer li {
            display: inline-block;
            list-style: none;
            padding: 10px;
            font-family: 'Changa One', cursive, Verdana, Arial, Helvetica, sans-serif;
            font-size: 30px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 3px 3px 5px black;
            text-align: center;
            letter-spacing: 2px;
        }


    }
}