@media screen and (max-width: 1366px) {
    html, body {
        overflow: hidden;
    }

    body {
        background-color: aquamarine;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .timer li {
        display: inline-block;
        list-style: none;
    }

    .ytplayer {
        width: 640px;
        height: 360px;

    }

    .forms {
        text-align: end;
        max-width: 75%;
        max-height: 75vh;
        padding-left: 5px;
    }
}

@supports (display: flex) {
    @media screen and (min-width: 1367px) {
        html, body {
            overflow: hidden;
        }

        body {
            background-image: url('fundo.png');
            background-repeat: no-repeat;
            background-size: cover;

        }

        .content {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content h1 {
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 45px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 3px 3px 5px black;
            text-align: center;
            letter-spacing: 2px;
        }

        .timer li {
            display: inline-block;
            list-style: none;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 3px 3px 5px black;
            text-align: center;
            letter-spacing: 2px;
        }

        .ytplayer {
            width: 640px;
            height: 360px;

        }

        .forms {
            text-align: end;
            max-width: 100%;
            max-height: 100vh;
            padding-left: 15px;
        }
    }
}